[2013-08-11 05:32] imyu37 opened #1 "Kernel busy when running "link.ipzCaptureWindow2('Lay',gamma=0.25)""
These days i found pyZDDE in github and tried to verify it. It ran OK except for the code line "link.ipzCaptureWindow2('Lay',gamma=0.25)".The  ipython notebook  was dead with indicating **Kernel busy** in the upper right. I don't know what's happening.

[2013-08-16 03:27] #1 closed, assigned to indranilsinharoy

[2014-02-24 20:55] userPyZDDE opened #13 "error with zSetSolve"
Hello,
I start to use the pyzdde library few days ago and I would like to thank you because it's a great job. But I have an issue with the zSetSolve function. When I use it, it raise the following error :
" if data:
UnboundLocalError: local variable 'data' referenced before assignment "
below, I put the way how I call the function :
    dataP = [2,0,0.0,-1.0,0] #(solvetype,pickupSurfaceNb,offSet,S

[2014-02-26 05:36] #13 closed, assigned to indranilsinharoy

[2014-03-20 02:54] indranilsinharoy opened #15 "zSetTimeout function and timeout in other functions not implemented"
The function to set global DDE timeout using the function `zSetTimeout` has not been implemented. Currently, the default timeout value is the a fixed value of 1 minute, as set by the dde in PyWin32.  Also, the inability to set independent timeout for some functions such as `zNSCTrace`, which generally takes several minutes to complete, is very limiting. The user must be able to set these two types

[2014-03-21 08:04] #15 closed, assigned to indranilsinharoy

[2014-04-20 03:39] indranilsinharoy opened #21 "Array ray tracing function"
It is highly desirable to have a function for doing bulk ray tracing. PyZDDE doesn't have such a function.

[2014-04-20 03:43] indranilsinharoy opened #22 "Simplify PyZDDE class definition (low priority)"
This is not really a bug or an immediate problem as the library works as expected. However, it seems that the PyZDDE class is currently more complicated than it needs to be. It should be made simple and elegant. Obviously, when I started coding PyZDDE, I didn't know much Python and hence the complicated class definition. There are some ideas, but currently the real work on it is in the back burner

[2014-05-02 14:35] indranilsinharoy opened #24 "ipzGetTextWindow() prints "�" instead of $\mu$."
When ASCII output is selected for text file encoding in Zemax preferences, Zemax uses extended ascii encoding for representing special characters such as $\mu$. However, since Python 2.x uses character values confined to the ranges 0x00 and 0x7f, characters such as $\mu$ (value = '\xb5') is printed improperly (mostly as a "�" character).

[2014-05-06 01:58] #24 closed, assigned to indranilsinharoy

[2014-06-04 19:53] CatherineH opened #26 "default values for optimize"
I think the default values for zOptimize should be numOfCycles = 0, algorithm=0, since these are the default values if you press enter in the optimization window in Zemax

[2014-06-06 17:06] CatherineH opened #28 "Physical Optics Propagation"
It seems like this lacks functionality for any of the physical optical analysis. I'll see if I can make it work.

[2014-06-06 17:42] #26 closed, assigned to nobody

[2014-06-06 19:16] #28 closed, assigned to nobody

[2014-07-10 13:56] xy124 opened #33 "Rotation of written Beamfiles with Zemax July 11, 2011"
if I execute the example beamFileWrite.py the Beamfile is rotated wrongly.
That is probably because zemax sets the origin(0,0) to the left bottom corner and not to the left top as it's done for pixel coordinates normally. Furthermore I suggest to change

[code]

into

[code]

in beamFileWrite.py
![bug_screenshot](https://cloud.githubusercontent.com/assets/736276/3539379/f3304308-0839-11e4-9d8a-1c7

[2014-07-15 18:02] indranilsinharoy opened #34 "``ipzCaptureWindow()`` function doesn't work in Windows 8 machine"
The function call to `ipzCaptureWindow()` times out with the message "Timeout reached before PNG file was ready", and doesn't embed the desired graphic into an IPython console/notebook.
Examining a bit further, it seems that the root cause of this problem is that ImageMagick's convert.exe is unable to convert the EMF into PNG file because "VCOMP100.DLL" is missing from the computer (System Error m

[2014-07-16 21:39] #33 closed, assigned to nobody

[2014-07-26 19:58] #34 closed, assigned to indranilsinharoy

[2014-07-29 20:44] #22 closed, assigned to indranilsinharoy

[2014-09-01 18:44] xy124 opened #37 "Bug in Read / Write BeamFile"
The Zemax Documentation for July 8, 2011, page 640 defines some empty bytes in the BeamFiles.

I'd like to know If there is a new specification of zbf-Files which lefts this out. If not I'd change this. (as I did [here](https://github.com/xy124/PyZDDE/tree/bugfix-readBeamFile))

In @CatherineH 's readBeamFile the lines reading the empty bytes from zbf were commented. Why?

Btw: the Bug wasn't foun

[2014-09-02 18:10] #37 closed, assigned to nobody

[2014-12-11 12:52] ng110 opened #39 "bug in zGetTraceDirect"
missing comma line 3231:
        args3 = "{x:1.20f},{y:1.20f},{z:1.20f}".format(x=x,y=y,z=z)
should be:
        args3 = "{x:1.20f},{y:1.20f},{z:1.20f},".format(x=x,y=y,z=z)

(simular bugs in  zGetPolTraceDirect and zGetPolTrace)

[2014-12-17 06:57] #39 closed, assigned to nobody

[2015-01-21 11:13] olfduh opened #40 "Exception Type Error when I run a PyZDDE script repeatedly"
Hi,

I have some issue when I run a script using PyZDDE multiple times. The first time it works without problems, only the consecutive executions will give an error message. The script stills seems to execute everything, however. Am I maybe missing some commands to close the link properly?

Thanks in advance!

Olf

Here is the scrip I am using:
[code]

Here is the Python console output:

[code]

[2015-01-21 14:08] CatherineH commented on #40
Hi Olf,

I think pyz.closeLink() and link.zDDEClose() are actually doing close to the same thing, so you should remove one of them.

[2015-01-21 20:13] indranilsinharoy commented on #40
Hi Olf,
Catherine is right. Because of the last two lines (which are essentially the same), your program crashes. I acknowledge that it might be confusing that there are 3 functions to close links and at least 2 for creating links. This is mainly because when PyZDDE was created first, it tried to emulate how MZDDE (the MATLAB toolbox) worked. Later, I found it extremely frustrating to type so much

[2015-01-22 08:29] olfduh commented on #40
Hi,
thanks for the quick reply! I tries your example but still get the same issue. I tried both the normal console and IPython, both give me the same error message. Do you have any idea how to trace down the problem?

[code]

[code]

[2015-01-22 08:55] indranilsinharoy commented on #40
I have never seen such an error message before. I also googled about the message "UMD has deleted", and found some issues related to the Spyder IDE. Are you using a Spyder IDE? If you are, then can you check to see if it is related to Spyder? Also, see if you can execute the code outside of Spyder. (By the way, I have used PyZDDE in all types of environment -- Spyder,  IPython console, IPython Not

[2015-01-22 15:51] olfduh commented on #40
Hi,
that seems to be indeed a Spyder related issue. If I open the file in idle, everything is ok. Thanks for the help. I'll try to see if I can solve the issue for Spyder as well (it is just much more convenient to use). I'll let you know how it is going

[2015-01-22 22:01] indranilsinharoy commented on #40
No problem, Olf. By the way, I use Spyder quite regularly both with Anaconda and Enthought's EPD, and never faced this issue. It is indeed very convenient. It might just be some configuration issue. Try disabling the UMD module as described in http://stackoverflow.com/questions/13876306/spyder-umd-has-deleted-module and see if it works. For now, I am closing this issue.

Regards,
Indranil.

[2015-01-22 22:01] #40 closed

[2015-01-23 13:43] olfduh commented on #40
The answer in the stackoverflow thread solves the issue. I just had to navigate to

"Tools > Preferences > Console > Advanced settings > User Module Deleter"
and deactivate the option "Show reloaded modules list"

Now I don't get an error message anymore :)

[2015-01-23 16:16] indranilsinharoy commented on #40
Great!

[2015-01-23 22:05] aaronroodman opened #41 "GetPSF and GetZernike"
Hi,
Two questions:

1) is there a way to retrieve the Zernike coefficients themselves?  ie. the functionality of the GetZernike command in ZPL.  I can get the text file with them using the 'Zst' button, but what I could really use is the coefficients returned to the python layer.

2) when using the zGetPSF method, I get the error:

TypeError: list indices must be integers, not NoneType

at line 72

[2015-01-24 04:08] indranilsinharoy commented on #41
Hi Aaron,

I will look into both the issues ASAP. I am surprised that the zGetPSF method returns the error. I have used it before without problem. Can you send me the script in which you are using zGetPSF ?

[2015-01-26 07:26] aaronroodman commented on #41
Indranil,

thanks for much for your help - and for making this great tool for using Zemax.

The script I used is just:

import sys
import os
import matplotlib.pyplot as plt
import pyzdde.zdde as pyz

# file path
zDir = "C:\\Users\\roodman\\Documents\\LSST<smb://Users//roodman//Documents//LSST>"
zmxfile = 'LSST_Ver_3.3_Baseline_Design_Spiders_Baffles.ZMX'
filename = os.path.join(os.path.expanduser(

[2015-01-26 08:34] indranilsinharoy commented on #41
Dear Prof. Aaron,

Thanks for your kind words. The pleasure is really all mine. I will only get to work on this tonight. I hope that I will be able to get back to you with something by tomorrow.

Indranil.

[2015-01-26 08:47] indranilsinharoy commented on #41
Also, if you have some time, and you want to take a look at how the `zGetPSF()` function works, you may have a look at http://nbviewer.ipython.org/gist/indranilsinharoy/d6857951dce508427b36. It is an IPython notebook containing some of the basic tests that I did when I wrote these functions. In any case, I will check out the problem tonight.

[2015-01-26 15:04] indranilsinharoy commented on #41
Dear Prof. Aaron,

This is regarding the 2nd problem:

I had a quick look at your script, and there is nothing suspicious there. The only reason for the error to show up is that PyZDDE is unable to find the phrase "Data spacing" in the text file generated by Analysis >> PSF >> FFT/Huygens PSF. This could happen if there is a mismatch in the text encoding set for PyZDDE and the text encoding set in

[2015-01-27 13:01] olfduh opened #42 "Read/Write ZRD Files"
Hi,

I started to implement some functions to read and write zrd files. So far I created a class for Zemax rays and a function to read the file.
My plan is to have a separate file for the ray class ind import it to the zdde.py file where I would add the read/write functions. I'll upload it to my fork soon and send you a pull request. If you have any better idea how to implement the functions, plea

[2015-01-27 19:36] indranilsinharoy commented on #41
Dear Prof. Aaron,

This is regarding your 1st question -- "is there a way to retrieve the Zernike coefficients themselves? ie. the functionality of the GetZernike command in ZPL. I can get the text file with them using the 'Zst' button, but what I could really use is the coefficients returned to the python layer."

I have added a function called 'zGetZernike()` in the branch: https://github.com/in

[2015-01-27 19:43] indranilsinharoy commented on #42
Hi olf,

That is great.

"If you have any better idea how to implement the functions, please let me know!"

Sounds good to me. Once I see your branch, may be, we can exchange ideas regarding that.

"Could it be possible to do the bulk ray tracing by creating a ray file from Python and import this to Zemax? Might be a temporary solution for this problem..."

Unfortunately, I don't know. Why don't y

[2015-01-28 01:52] aaronroodman commented on #41
Indranil,

This works, as does making sure the text settings match - thanks very much,

regards,

Aaron

On Jan 27, 2015, at 11:36 AM, Indranil Sinharoy <notifications@github.com<mailto:notifications@github.com>> wrote:

Dear Prof. Aaron,

This is regarding your 1st question -- "is there a way to retrieve the Zernike coefficients themselves? ie. the functionality of the GetZernike command in ZPL.

[2015-01-28 10:16] olfduh commented on #42
How far did you get with the bulk ray tracing? What was the problem? I am quite interested in this feature, so if I know some more details, I can give it a try :)
Have a look at my pull request. Atm. all added code is in a separate file

[2015-01-28 18:40] indranilsinharoy commented on #42
Hi olf,

I tried to work on this sometime last year, using ctypes-based-DDEML to communicate (poke messages), but couldn't get it working. I suspect that it has something to do with how Zemax is internally handling the poke messages. Here is what I found: http://forum.zemax.com/Topic2657.aspx.

"Do you have an example how to trace single rays?"

Well, we can do single ray tracing ... using ``zGetT

[2015-01-30 11:18] olfduh commented on #42
Hi,
I was a bit stupid on about tracing single rays it was really easy :)

[2015-01-30 22:21] indranilsinharoy commented on #42
Hi Olf,

No problem at all.

[2015-02-02 06:27] #41 closed

[2015-02-03 04:07] indranilsinharoy commented on #41
Dear Prof. Aaron (@aaronroodman),

I just wanted to update you with some minor changes I made the the function `zGetZernike()` before merging into the main branch. The changes shouldn't break any existing code. Nevertheless here are the changes:

1. Corrected the `zInfo` named tuple so that `Peak to valley (to centroid)` is the right name of the parameter returned in `zInfo` and not "RMS to the ze

[2015-02-16 07:09] indranilsinharoy commented on #21
There is a separate repo where we are working on the array ray tracing, independent of PyZDDE at https://github.com/indranilsinharoy/zArrayTrace. We will integrate it with PyZDDE in the near future.

[2015-02-18 08:28] indranilsinharoy commented on #21
The array tracing functions have been implemented in the branch https://github.com/indranilsinharoy/PyZDDE/tree/arrayTraceUsingZclient. The code is currently undergoing more tests, and will soon be integrated into PyZDDE master.

[2015-03-02 07:32] indranilsinharoy commented on #21
The functions for array ray tracing has been merged to the master in https://github.com/indranilsinharoy/PyZDDE/pull/47

[2015-03-02 07:32] #21 closed

[2015-04-02 11:50] magro11 opened #49 "Python 3 error in _sendDDEcommand in error is returned from any Request"
Hello together,
when communicating with Zemax, the method _sendDDEcommand is often called. Usually the answer variable reply contains a byte object (Python 3). However, if an error occurs (e.g. timeout), a string (str) is contained in reply (e.g. '-998'). Then the decode command

[code]

fails.

A solution might be to use the following version of the function:

[code]

However, it might also be, t

[2015-04-02 17:02] indranilsinharoy commented on #49
Hi Marc,

Do you have a traceback of the error message? I somehow like your second suggestion that perhaps ``_conversation.Request`` should send ``b'-998'`` (Python 3 byte) instead of ``'-998'`` (Python 3 string) when the environment is Python 3.

One way to do it would be (there might be a better solution) the following modifications in ``ddeclient.py``:

* Create a global variable ``_global_time

[2015-04-03 10:21] magro11 commented on #49
Hi,
unfortunately, I did not save the traceback. However, I also think that the error comes from the Request method in ddeclient.py.

I think I would avoid the usage of too much global variables. Why not using the following implementation:

[code]

sys is already imported, sys.version_info is a constant and therefore does not need time to be evaluated. Anyways, the timeout values are only assigned

[2015-04-03 15:14] indranilsinharoy commented on #49
Hi Marc,

I like the solution. Can you send a PR?

[2015-04-03 21:35] indranilsinharoy commented on #49
Thanks, Marc.

[2015-04-03 21:35] #49 closed

[2015-04-06 05:48] indranilsinharoy opened #51 "Helper function ``zGetTraceArray()`` for array ray tracing fails in Python 3"
Calling the function ``zGetTraceArray()`` in Python 3 causes the function to fail, which doesn't happen in Python 2.7x. For example, consider the following code snippet:

[code]

Executing the above in Python 3, fails and produces the following traceback:

[code]

This happens because there is a change in how ``exec()`` behaves in Python 2 vs Python 3.

In Python 3 executing

[code]
creates the na

[2015-04-06 08:15] #51 closed

[2015-05-26 21:20] indranilsinharoy commented on #42
Closing this issue as the appropriate functions has been added to PyZDDE from https://github.com/indranilsinharoy/PyZDDE/pull/43

[2015-05-26 21:20] #42 closed

[2015-06-18 05:58] indranilsinharoy opened #55 ""IOError: [Errno 13] Permission denied" for accessing analysis text files outputted by Zemax"
It is probably not a bug in PyZDDE as such. Also, this error happens rarely (not always, and very hard to reproduce) when some of the functions such as ``zGetPOP()`` request Zemax to export an analysis data as text file, and then the function tries to open the text file (in read mode), but is unable to do so because of file access denial. The error message is as follows (when it happens):

[code]

[2015-10-28 15:37] B2015 opened #57 "PyZDDE zGetPsf"
Hello,
I read with interest the other issue opened a while ago about a problem with the zGetPsf() method when the encoding was not properly set.

I however currently come accross the same problem when calling zGetPsf() and get the following error message:

File "C:\Python27\lib\site-packages\pyzdde-2.0.1-py2.7.egg\pyzdde\zdde.py" line 7548 in zGetPsf data_spacing_line = line_list[_getFirstLineOfIn

[2015-10-29 14:56] indranilsinharoy commented on #57
Hi @B2015,

You are seeing this error because the function `_getFirstLineOfInterest()` couldn't find the pattern `Data spacing` in the text file outputted by Zemax. If the code has no bugs (although possible, I have used this function several times in the past, and there is a less chance that it is a bug), then typically the problem is either with encoding or that the pattern is not present in the

[2015-10-30 14:06] B2015 commented on #57
Hello,

I'm currently using Optical Studio 15. Coming back to my question, when I printed out the LineList result I realized that Zemax was pointing out that the sampling was too low, so no information was returned in the string and that is why Pyzdde was not able to find the field.

I changed the resolution with zSetFFTPSFSettings but still have a remaining problem while parsing the string. I put

[2015-10-30 19:29] indranilsinharoy commented on #57
@B2015 I will take a look tonight or during the weekend. Thanks for the detailed info.

[2015-11-02 07:49] B2015 commented on #57
I was far away from my computer this weekend so I only got to reply today.

Indeed the only problem was that the regex in zGetPSF was expecting for numbers in american/english notation. Zemax uses the number notation from the OS so if you happen to be working on a european set computer, you will have problem when using some methods that returns strings that have to be parsed.

I'm not quite sure h

[2015-11-02 12:16] indranilsinharoy commented on #57
Hi @B2015,

[code]

Will it be possible for you to send me a "sample" PSF file outputted by Zemax that is showing the problem? I would like to have a better understanding before I can suggest or do any modification.

[code]

(Please feel free to correct me). Isn't that info redundant? Since the function returns both the `data spacing` and the center point information?

[2015-11-02 12:36] B2015 commented on #57
For the first point, a sample is avalable above (I copy part of it here, to illustrate the problem) :

[u'Listing of FFT PSF Data', u'', u'File : L:\Desktop\mytelescope.zmx', u'Title:', u'Date : 30/10/2015', u'', u'', u'FFT PSF', u'0,7200 \xb5m at 0,00, 0,00 mm.', u'Data spacing is 0,843 \xb5m.', u'Data area is 53,978 \xb5m wide.', u'Surface: Image', u'Reference Coordinates: ...]

As you can see,

[2015-11-08 07:47] indranilsinharoy commented on #57
Hi @B2015

Sorry, I had been a little busy during the last few days, hence the delay in response.

Regarding the first issue, we can surely make the change in the regex to include both comma and period. However, before doing the change, I would like to know why Zemax formatted the output that way. This is the first time I am encountering such format in Zemax, and so I am a little curious. Is that

[2015-11-12 07:32] B2015 commented on #57
Hello,
I've been away too last week so we are even :)

I think that Zemax (and that is what my colleagues told me) uses the number setting from the OS you use. For some obscure reason, the IT guy set my windows 7 session in french with european style numbers (eg using ',' for the decimals and the '.' for the thousands). Zemax does not have a setting within the preferences in order to set the numbe

[2015-11-13 06:58] indranilsinharoy commented on #57
Hi @B2015

The information regarding the difference between French/European vs US/British number format is interesting, and I had no idea! Anyway, since you seem to have resolved the issue by changing your system to use US/British, I guess that I will keep this information in mind, and probably not modify the code. Later if there is demand we can always add it.

For the second issue, I agree with

[2015-11-21 07:48] indranilsinharoy commented on #57
Closing this issue. Appropriate changes incorporated from https://github.com/indranilsinharoy/PyZDDE/pull/58

[2015-11-21 07:48] #57 closed

[2015-12-15 18:44] indranilsinharoy opened #59 "zTiltDecenterElements() function returns `ValueError` when a thickness solve is present in the last surface"
The following ``ValueError`` is produced when there is a thickness solve present in the last surface:

[code]

[2015-12-15 19:05] indranilsinharoy commented on #59
There were two problems with the following line whose purpose was to transfer any solve (if present) in the thickness parameter of the last surface to the dummy surface after the second coordinate break:

[code]
The root cause of both the problems (listed below) was the overly simplistic way the solve was being transferred above. The splattered sequence ``*solve`` consists of ``solvetype, param1,

[2015-12-16 09:44] indranilsinharoy commented on #59
Fixed in https://github.com/indranilsinharoy/PyZDDE/commit/5e52846bd8e89045068eaf883e6a18b8b0771d2e

[2015-12-16 09:44] #59 closed

[2016-01-04 23:39] indranilsinharoy opened #60 "Function `zGetZernike()` does not return information about the wavelength and field position."
Since the Zernike coefficients are a function of the wavelength and field position, the coefficients do not have any meaning without information about the wavelength and field position in the meta-data (`zInfo`) portion of the data returned by `zGetZernike()` function. So, the field position and wavelength should also be returned by the function.

[2016-04-10 08:05] je-ro-me opened #61 "problem for setting system aperture"
I work with a Zemax file provided by a customer (so unfortunately, I cannot share it). It's a simple refractive telescope with 6 lenses.

My problem is: I cannot change the position of the system aperture STOP with PyZDDE.
I can do it manually in Zemax, it works well and there's nothing special.
If I use the following code:
`import pyzdde.zdde as pyz
filename = "C:\\Zemax Model\\Instrument_telesco

[2016-04-10 09:24] je-ro-me commented on #61
Some more information :
with the above code, the semi-diameter of surf 3 is set to 20 in Zemax when calling link.zPushLens(). The same function link.zPushLens() sets the system STOP back to surface 1.

[2016-04-10 19:03] indranilsinharoy commented on #61
Hi @je-ro-me,

Honestly I don't know what's going on. It seems very strange because there is NO reason AFAIK why the system aperture would change automatically by calling `zPushLens()`. This function just "moves" the current lens in the DDE server to running Zemax application's LDE. Also, as you have experimented yourself with two other files, the behavior seems consistent with our expectation. Ca

[2016-04-12 09:14] je-ro-me commented on #61
Hi @indranilsinharoy
Thanks very much for your reply!
I could resolve the problem partly as follows: I re-create the same optical file from scratch and got a second Zemax file that looks identical (could not see a difference in the lens specifications, achieved performances, system parameters, etc..). And with this file the call of link.zSetSystemAper() works well.
So I solve the problem for my ne

[2016-04-13 05:20] indranilsinharoy commented on #61
Hi @je-ro-me,

I really don't have any idea why this is happening. This is not an expected behavior, and in my few years of using PyZDDE, I have never faced such an issue. Also, this type of cases are hard to debug without the lens file. However, I am almost certain that the problem is not due to PyZDDE.

As far as ensuring that you have created the new design without missing any parameters, I wou

[2016-04-13 10:58] je-ro-me commented on #61
Hi @indranilsinharoy
I think I found where the problem comes from!
As you suggested, I tried to track all differences between the two files.
- first, I used the file comparator from Zemax, but it doesn't show any difference
- when opening the .zmx files with a text editor I noticed few small differences.
In particular I spotted some lines at the end of the old file (the one that creates the proble

[2016-04-13 17:53] indranilsinharoy commented on #61
@je-ro-me

That's interesting. However, I don't know exactly what settings in lens design (adds the two lines in the end) and prevents modification of the aperture settings via an external interface. I will keep your findings in mind in future. Thanks.

Also, since it is not really a PyZDDE issue, I am going to close it.

[2016-04-13 17:53] #61 closed

[2016-04-18 07:33] Toniostado opened #62 "No function to export jpg to file PyZDDE"
Hello,

I've come across the ipzCaptureWindow function, but this only seems to work inside the IPython environment. Since I'm working on a bigger project I cannot use IPython. I'd like to export a screenshot of a window to a designated .jpg (or .png or .bmp) file.

I've seen the W01_PyZDDE_ExportJPEGWIN01.ZPL macro, but I cannot dynamically specify the filename, causing it to write it to the same

[2016-04-18 12:30] Toniostado commented on #62
I've solved the issue by continuously renaming the saved .jpg file via python itself, it's not pretty but it works. Maybe there's a better way to this, but I'm happy for now:)

[2016-05-11 13:08] B2015 opened #63 "Problem with zGetTraceArray"
Hello,
Recently I've been experiencing problems using the function zGetTraceArray in order to perform spot plots. The function was working perfectly a few month ago when I wrote the code, though lately the code remains stuck when executing the code, more precisely at line 83 of the arraytrace.py file (e.g.     return _arrayTrace(rd, int(timeout)) ). For some reason this piece of code never replies

[2016-05-11 22:42] indranilsinharoy commented on #63
Hi @B2015,

In fact I have experienced this issue a few (probably three or four) of times. I am not sure why this happens (probably beyond my current knowledge of DLLs and DDE). However, every time, I got it to work if I restarted my computer (don't ask me why it resolves this ... ), and usually the problem doesn't appear for a while (I know, my answer is completely non scientific).
Let me know if

[2016-05-13 09:07] B2015 commented on #63
Hi Indranil,
thanks much for the fast reply. It looks like people using matlab dde also having problems such as this, I will investigate a bit and come back if I find something interesting to share.
Best regards,
Ben

[2016-05-13 17:21] indranilsinharoy commented on #63
Hi Ben,

That would be great, if you could pinpoint the cause. I would love to resolve this issue (if it is possible to do so from PyZDDE or MZDDE). Therefore, I will leave this issue open.

Best regards,
Indranil.

[2016-05-23 17:24] indranilsinharoy commented on #62
Hi @Toniostado,

I am sorry that I couldn't respond to you earlier. The `ipzCaptureWindow()` function was designed to work in an IPython environment only. The `ipzCaptureWindow()` function internally uses `GetMetaFile` DDE command, which Zemax has removed in recent versions of OpticStudio. So, going forward, I imagine that the only way to dump images automatically from Zemax is by using macros (wh

[2016-05-23 17:24] #62 closed

[2016-06-10 11:17] andres333 opened #65 "Exception TypeError when running a script more than once"
Hi,

I have an error message when i run a script more than once.

Here the script, as simple as it could be:

[code]

And here what is printed in a freshly started iPython console. Two runs are shown:

[code]

As you can see, I am using Anaconda, Python 2.7, Spyder.

Interestingly this does not happen the first time that I run the code.

I have tried to follow the recommendations in earlier posts

[2016-06-11 05:56] indranilsinharoy commented on #65
I'm not sure what's going on.

Please try running the script in a "dedicated Python console" in spyder [Preferences >> Run >>  Console >> Execute in a new dedicated Python console] and see if you can still reproduce the error.

Please do let me know.

Thank you,
Best regards,
Indranil.

[2016-06-15 14:49] B2015 opened #66 "zGetPSF"
Hello,

I recently gave a piece of code using PyZDDE (trying to preach the good news around) to a colleague and it looks like he's not able to make it work.

From the logs I see that the problem occurs in zGetPSF where the "assert ret == 0" is false (ret gets a value of -1 instead of 0). This value is returned by zGetTextFile. From the documentation I understand that such a value of -1 is associat

[2016-06-15 17:40] indranilsinharoy commented on #66
Hi Ben,

Thanks very much for spreading the word.

I have seen these type of problems a few times before (that's the reason why I decided to put the "assert ret == 0" in order to localize the error. Although I don't have an exact solution, but I have noted a few things that could potentially result in this type of problem:

1. The first thing to check would be that the text encoding between PyZDDE

[2016-06-16 09:31] B2015 commented on #66
Hello Indranil,

Thanks much for the help! We already checked your first point and made sure the text encoding is correct. I think that you second point may be spot on because the path he's using is quite long, I'll suggest him to put the Zemax files somewhere else and see if it works well.

By the way, I tested a script using zGetPSF on yet another colleague's computer (did I tell you about sprea

[2016-06-16 16:30] indranilsinharoy commented on #66
Hi Ben,

Thanks very much for the suggestion on the regex pattern. I will update the code based on your suggestion. Till then I will keep this issue open.

Best regards,
Indranil.

[2016-06-22 12:36] andres333 commented on #65
Hi Indranil, sorry for the delay.

In a dedicated console this error does not appear. Also, the first time i run it in a non-dedicated console, it does not appear, only from the second time on. that may be the reason why it does not appear on a dedicated console.

Best & thanks.
Andrés

[2016-09-20 16:02] cyriluk opened #67 "problem with start_line in _get2DList"
Hi,

I am trying to get the FFT PSF array from Zemax 16 with a simple code in python. The code is :

import sys, numpy
import os

PyZDDEPath = '..\PyZDDE'

if PyZDDEPath not in sys.path:
    sys.path.append(PyZDDEPath)
import pyzdde.zdde as pyz

# file path
zDir = 'my path is here'
zmxfile = 'test.zmx'
filename = os.path.join(os.path.expanduser('~'), zDir, zmxfile)

pyz.setTextEncoding(1)
ln = pyz

[2016-09-20 18:48] indranilsinharoy commented on #67
Hi Cril,
Can you send me the scripts (either send an email or use Gist (https://gist.github.com/) so that I can execute it here and see what is the problem. The function `zGetPSF()` internally uses `zGetTextFile()` to dump the PSF data from Zemax to a directory. If a filename is also passed along with `zGetPSF()` then the directory is derived from the passed filename, else the directory used is th

[2016-09-21 10:32] cyriluk commented on #67
Hi Indranil,
Thank you for the detailed explanation. I confirm that the txt file is created at the directory of the Zemax file. I have added my script here : https://gist.github.com/cyriluk.
I have also uploaded the zemax file called in my script.
[test.zip](https://github.com/indranilsinharoy/PyZDDE/files/484720/test.zip)
Thank you in advance for the help!

[2016-09-22 01:12] indranilsinharoy commented on #67
Hi Cyril,

Can you also upload the text file dumped?

[2016-09-22 08:14] cyriluk commented on #67
[FFTPsfAnalysisFile.txt](https://github.com/indranilsinharoy/PyZDDE/files/486739/FFTPsfAnalysisFile.txt)
Here is the .txt file generated in the Zemax directory.

[2016-09-23 07:21] indranilsinharoy commented on #67
Hi Cyril,

I am sorry that you had to wait. I have been quite busy lately. Anyway, I think I have found the problem. I think that it (the problem) is due to a minor (format) change in the way the new version of Zemax (OpticStudio 16) saves the data. Since I have been using Zemax 15, I didn't see it earlier. I might have to update PyZDDE in few other places too. But for now, if you make the followi

[2016-09-23 08:37] cyriluk commented on #67
Hi Indranil,

Thank you, these 2 changes have resolved the issue. The zGetPSF() method is working perfectly now.

Best wishes,
Cyril

[2016-09-23 17:11] indranilsinharoy commented on #67
Hi Cyril,

Thanks for letting me know. Glad to know that the above suggestion fixed the problem. I was just looking at other issues and found that @B2015 (Ben) had actually reported (and suggested the same regex pattern as above) this issue (see #66).

I am reopening the issue so that it reminds me to put the fix into the main pyzdde branch.

Best regards,
Indranil.

[2016-09-25 00:08] #65 closed

[2016-09-25 01:58] #67 closed

[2016-09-25 01:58] #66 closed

[2017-03-11 04:50] danieldmulkey opened #68 "Possible POP documentation error"
Hello,

First off, this package is excellent. Thank you for making and sharing it.

Comparing the documentation on paramN and fparamN in help(ln.zSetPOPSettings) suggests that the parameters are ordered as you read them in Zemax. The discrepancy I saw is that Zemax 15.5 SP2 would then suggest that fparamN 1 and 2 are Tilt About X (deg) and Y (deg) respectively but PyZDDE seems think that 1 and 2 a

[2017-03-12 06:33] indranilsinharoy commented on #68
Hi @danieldmulkey ,

Thank you very much for your kind words.

I'm not quite sure I understood your question. The function `ln.zSetPOPSettings()` has two separate arguments for the parameters `Tilt About X` and `Tilt About Y`, which uses `POP_TILTX` and `POP_TILTY` (along with the specific values) to send message to Zemax. In fact `fparamN1` and `fparamN2`, indeed, are for `WaistX` and `WaistY`, a

[2017-03-12 16:33] danieldmulkey commented on #68
Ah! Then I must've misunderstood. I missed POP_TILTX/Y so I thought those
were supposed to be accounted for in the fparamN tuple. I was assuming the
parameters should be ordered as they appear in the POP Zemax window and on
my version it starts with the tilts. My only source was the Zemax POP
window.

Cheers,

On Mar 11, 2017 10:33 PM, "Indranil Sinharoy" <notifications@github.com>
wrote:

Hi @dan

[2017-03-12 19:24] indranilsinharoy commented on #68
Hi @danieldmulkey

Fixing that was easy ;-). I will close the issue.

[2017-03-12 19:24] #68 closed

[2017-03-13 04:20] danieldmulkey commented on #68
Thank you!

On Mar 12, 2017 12:24 PM, "Indranil Sinharoy" <notifications@github.com>
wrote:

[2017-03-29 13:33] B2015 opened #69 "GHRS and Stops"
Dear indranil,
I've been encountering some problems with new systems lately and was wondering whether this could be related to issue #61. Indeed I'm loading a simple TMA within zemax (I can surely provide you the generic zemax file for testing if needed), and what I see is that when I load it within zemax through pyzdde, the global coordinate reference surface and stop surface positions have been

[2017-03-30 06:53] B2015 commented on #69
... don't bother, I found out I simply left some default parameters to some fields when using 'zsetSystem' ... sorry about that, I think it was so obvious that I totally missed it :p...

[2017-03-30 06:53] #69 closed

[2017-04-03 12:39] B2015 opened #70 "Minor update to "zemaxoperands.py" ?"
Dear Indranil, It looks like the people from Zemax added at least two new useful operands since the last version of the pyzdde zemaxoperands.py has been issued. Indeed, The CEHX and CEHY operands allow to directly retrive the x and y position of the centroid of the Huygens PSF for a chosen optical system which can be useful in some cases to consider over the spot centroid (e.g. CENX, CENY). Since

[2017-04-03 15:03] indranilsinharoy commented on #70
Dear Ben (@B2015),
Thank you very much for letting me know. I will add them very soon and release a new version.

Best regards,
Indranil.

[2017-05-05 15:15] shbhuk opened #71 "Unable to use zSaveDetector"
Hi,
I am trying to use `zSaveDetector` which gives me error code `-2`. I am using a Rectangular detector in NSC mode. Post running a ray trace using `zNSCTrace` I use the `zSaveDetector` command

[code]

[2017-05-05 15:22] shbhuk commented on #71
I get the code 0 (successful) when I give the filename as just 'sample.ddr'. However it is still not in the Lens file folder.

[2017-05-05 17:29] shbhuk commented on #71
I also tried using zGetDetectorViewer, it saves a txt file, however gives an AttributeError: 'NoneType' object has no attribute 'group'.

Further if I want to specify which detector file to be saved, how should I go about that?

[2017-05-10 02:08] indranilsinharoy commented on #71
@shbhuk. Hi, I'm sorry for replying late. I just don't have any bandwidth to look into this before the coming weekend. I'll work on it then. Thanks for reporting. Regards, Indranil.

[2017-05-12 18:11] shbhuk commented on #71
Alright. Look forward to hear from you.

Thanks.

[2017-05-13 02:22] danieldmulkey opened #72 "zSetMulticon support string values?"
Hello,

Does ln.zSetMulticon() support strings for the value argument? The documentation suggests only floats, but then I don't see how you could enter any configuration values for 'GLSS' in that case. Is there different method I'm not aware of?

Cheers,

[2017-05-14 22:24] indranilsinharoy commented on #72
Hi @danieldmulkey,

There are two ways of using the `zSetMulticon()` method (described in the docstring). If the `config = 0`, then, this function is used to set the operand type (string, like 'GLSS`, `THIC` etc.) and number data. I hope that helps.

[2017-05-14 22:24] #72 closed

[2017-05-15 01:49] indranilsinharoy commented on #71
Hi @shbhuk ,

I think there is a problem with your `location` string. Are you using double backslashes or single backslashes in your directory path? The reason I suspect that is because the function seems to work in my test. This is what I did:

First, I loaded the sample file `Interference Example 2- A Mach-Zehnder Interferometer.ZMX` from `...\Documents\ZEMAX\Samples\Non-sequential\Coherence Int

[2017-05-15 01:56] indranilsinharoy commented on #71
Also, the answer to your second question (I get the code `0` (successful) when I give the filename as just 'sample.ddr'. However it is still not in the Lens file folder.) is that Zemax seems to save the file in the current working directory where the Python interpreter is running. Although, I haven't tested all possibilities, in my case, I had launched Jupyter QtConsole from `C:\Users\Indranil\Doc

[2017-05-15 12:49] shbhuk commented on #71
Hi,
As far as saving it as *.ddr file is concerned, you are right about it being related to the location string.
Generally since I need to interface with linux often I try to use single forward slashes. I get this error when I use I them.  I do get the error for single back-slashes as well.

I get the 0 output (ddr file) when I use double backslash, or use os.path.join as you have mentioned in you

[2017-05-15 12:54] shbhuk commented on #71
Now that I can obtain a DDR file, is it possible to obtain a detector specific text file? As mentioned above , when I use - ' zGetDetectorViewer' I get a text file from the first detector in the object list (by default), is there any way to change that. If not, I guess I could insert a temporary detector as the first object (perhaps) and insert the sample ddr file and then save it as a text file (

[2017-05-15 20:25] indranilsinharoy commented on #71
@shbhuk

Use the function `zSetDetectorViewerSettings()` or `zModifyDetectorViewerSettings()` to change the detector number, and other relevant parameters.

I think that setting the parameters using `zSetDetectorViewerSettings()`  should also solve your other problem. Here is what I did in my local machine, and I can see both the text file output and an image:

[code]
![](https://www.dropbox.com/s

[2017-05-15 20:56] shbhuk commented on #71
Hey thanks for the SetDetectorViewerSettings bit. However this problem still persists.
I believe the `pyz._getFirstLineOfInterest(line_list, 'Peak\sIrradiance')` is returning a None value which is basically causing this error.

Do you know in which cases does it do so? The source code (zdde.py line 12202) says that if does not find a matching pattern it returns None

[2017-05-15 21:18] indranilsinharoy commented on #71
I think that there is a mismatch between what data type you are asking Zemax to compute/dump to the text file and what the `zGetDetectorViewer()` expects. Can you make sure that you are using the correct `dType` setting in `zSetDetectorViewerSettings()` function? Also, check in the text file dumped by the function and see if a line starting with "Peak Irradiance" is present or not.
It is possible

[2017-05-15 21:34] shbhuk commented on #71
Hi,
So I am now using the sample file you mentioned above.
The code is as follows -

[code]

Here I tried dType 0 and 1 and they give the same AttributeError as mentioned above. However dType = 2 (coherent phase) does not give an error.'

[2017-05-15 22:02] indranilsinharoy commented on #71
The example I provided above uses `dType = 1`  :

[code]

and I didn't get the `AttributeError`.

Can you open the text file outputted by the function (with `dType=1`), and see if "Peak Irradiance" is present or not? It should be about the 12th line (counting blank lines).

[2017-05-15 22:17] shbhuk commented on #71
It is present -
`Detector Viewer Listing

File : C:\Users\shbhu\Documents\Zemax\Samples\Non-sequential\Coherence Interference and Diffraction\Interference Example 2- A Mach-Zehnder Interferometer.ZMX
Title: Mach Zender Interferometer
Date : 15-May-17

Detector 9, NSCG Surface 1: camera
Size 5.000 W X 5.000 H Millimeters, Pixels 500 W X 500 H, Total Hits = 600000

Peak Irradiance : 8.8431E+00 Watts

[2017-05-15 22:27] shbhuk commented on #71
I apologize, the one posted above was Incoherent. For Coherent (dtype=1) it is -
[code]

[2017-05-15 22:40] indranilsinharoy commented on #71
Ok, then there could a problem with the text encoding (unicode or ascii). Ensure that the text encoding set in Zemax preferences and PyZDDE are the same. Use `pyz.getTextEncoding()` and/or `pyz.setTextEncoding()`

See my comments here: https://github.com/indranilsinharoy/PyZDDE/issues/66

[2017-05-16 01:38] shbhuk commented on #71
Hi,
Both the text encoding formats are set to 'unicode' - Zemax and PyZDDE

[2017-05-16 01:46] shbhuk commented on #71
I think its alright if you are busy with other stuff. For now I have implemented a work around the AttributeError using -

[code]

[2017-05-16 03:57] indranilsinharoy commented on #71
@shbhuk , I'm not sure what's going on exactly. It seems to be working as expected in my tests (as I have shown above)!

[2017-05-16 18:40] #71 closed

[2017-05-17 15:05] danieldmulkey commented on #72
The issue I had wasn't in setting operand type, I wasn't able to set a
string value for an operand. So, for example, I could set 'THIC' to 5 and 3
but not 'GLSS' to 'N-BK7' and 'SF-5'. It gave some error saying that
formatter 'g' had no meaning for strings, as it was expecting a number.

Cheers,

On May 14, 2017 3:24 PM, "Indranil Sinharoy" <notifications@github.com>
wrote:

[2017-05-17 21:13] danieldmulkey opened #73 "Re: zSetMulticon support string values"
Hi,

The issue I had wasn't in setting operand type, I wasn't able to set a
string value for an operand. For example, I could set 'THIC' to 5 and 3
but not 'GLSS' to 'N-BK7' and 'SF-5'. It gave ValueError: Unknown format code 'g' for object of type 'str' from line 5254 of zdde.py under zSetMulticon().

Cheers,

[2017-05-18 04:06] indranilsinharoy commented on #73
Hi @danieldmulkey, thanks for the clarification. I'll check it out soon.

[2017-06-27 15:26] shbhuk opened #74 "Unable to open or generate footprint file analysis window"
Hi,
I am trying to generate footprints in Python and tried to use the following -
1) zGetMetaFile - `ln.zGetMetaFile('full_path+filename.wmf','Foo')`
2) ipzCaptureWindow

with the analysis code 'Foo'. Irrespective of the analysis code I enter, I always get the default output - the 2D layout. Could you please guide me as to where could the problem lie.

It returns code 0 and saves the 2D layout win

[2017-06-27 15:31] shbhuk commented on #74
Conversely, this does work -

ln.zGetTextFile(path+'sample.txt','Foo') and succeeds in saving a txt file

[2017-06-29 18:42] shbhuk commented on #62
I am trying to do the same thing, however when I try to ExecuteZPLMacro('xyz') I get either -999 or -1 return code.

[2017-06-29 19:30] indranilsinharoy commented on #74
Hi @shbhuk, is it ok if I take a look at it during the weekend?

[2017-06-29 20:30] shbhuk commented on #74
Sure. I also had a problem with the zExecuteMacro, which I posted on another issue thread. Please do take a look at that too.

[2017-07-03 20:03] indranilsinharoy commented on #74
Hi shbhuk,
I'm sorry that I couldn't get to look into it this weekend ... had to get some work out of the way ... but I hope to take it up today/tomorrow.

Best regards,Indranil Sinharoy.Cell: 408-338-8834

On Thursday, June 29, 2017, 3:30:07 PM CDT, shbhuk <notifications@github.com> wrote:

Sure. I also had a problem with the zExecuteMacro, which I posted on another issue thread. Please do take a

[2017-07-06 00:10] shbhuk commented on #74
Hi Indranil,
Got the time?

[2017-07-06 15:17] indranilsinharoy commented on #74
Hi shbhuk,
I'm sorry. I have been crazy busy for the last few days. I've have a deadline (15 th July) on an experimental demonstration which is consuming me. I do want to help you, and it is there at the back of my mind. I will find some time very soon.

Best regards,Indranil Sinharoy.Cell: 408-338-8834

On Wednesday, July 5, 2017, 7:10:54 PM CDT, shbhuk <notifications@github.com> wrote:

Hi Indra

[2017-07-06 15:23] shbhuk commented on #74
Hi Indranil,
I understand. Take your time.

[2017-07-20 13:35] robmarkcole opened #75 "ssl certificate error in install"
Under Python 3.6.0 |Anaconda 4.3.1 (64-bit)| (default, Dec 23 2016, 11:57:41) [MSC v.1
900 64 bit (AMD64)] on win32

See the following error on `pip install`:

[code]

This may be due to corporate firewall

[2017-07-20 13:56] robmarkcole commented on #75
This issue is due to firewall and affects all packages I try to install.
Solved with `python setup.py install`

[2017-07-20 13:56] #75 closed

[2017-07-20 22:04] shbhuk commented on #74
Hey,
Any luck?

[2017-07-21 09:15] robmarkcole opened #76 "Documentation of functions"
Functions are listed but lack description on the wiki. Propose filling out the documentation.

[2017-07-21 09:16] robmarkcole opened #77 "ipzCaptureWindow returning incorrect window"
See below:

![image](https://user-images.githubusercontent.com/11855322/28457359-b21acb22-6dfd-11e7-91a6-2e9bf50734e3.png)

[2017-07-21 17:15] indranilsinharoy commented on #76
Hi @robmarkcole, thanks for your interest. Please note that the PyZDDE methods have extensive documentation in the form of docstrings. The functions list in the Wiki wasn't meant to provide description, but rather a quick list of the available functions in PyZDDE.

[2017-07-21 17:15] #76 closed

[2017-07-21 21:07] indranilsinharoy commented on #77
I think this issue is related (or exactly the same as) the issue  https://github.com/indranilsinharoy/PyZDDE/issues/74.

But thanks to your images (from which I got to know what version of Zemax/OpticStudio you are using) which gave me a clue. I think I know what the problem is (and perhaps you could also verify).

Just a little background:
The function `ipzCaptureWindow()` internally uses the fun

[2017-07-21 21:08] indranilsinharoy commented on #74
Hi @shbhuk Please see https://github.com/indranilsinharoy/PyZDDE/issues/77#issuecomment-317112966

[2017-07-21 21:33] shbhuk commented on #74
I see. Is there any other way to obtain the Footprint or other Analysis windows?

[2017-07-21 22:13] indranilsinharoy commented on #74
Can you explain what you mean by "footprint"?
In OpticStudio 14 and above, you should be able to use the macro (`zExecuteMacro()`) to get analysis windows .... it is not ideal, but that's the only workaround that I could think of. I also know that you had a problem using the `zExecuteMacro()` function. I'll take a look at it and get back to you.

[2017-07-21 23:32] shbhuk commented on #74
Hi,
Footprint or Spot diagram in Seq.

I tried using ExecuteMacro, but faced an error as mentioned above. Do let me know.

[2017-07-21 23:48] indranilsinharoy commented on #62
@shbhuk The errors you are seeing could be due to a couple of reasons. Where does the zpl macro file which you are trying to execute reside? Is it in the default location (i.e. in `C:\Users\xxx\Documents\Zemax\Macros`)? If not then you got to do two things:
1. Change the folder location in Zemax (Setup >> Project Preferences >> Folders >> ZPL) to the appropriate location, and also
2.  Use the PyZD

[2017-07-21 23:49] indranilsinharoy commented on #74
@shbhuk see https://github.com/indranilsinharoy/PyZDDE/issues/62#issuecomment-317136607

[2017-07-22 09:53] robmarkcole commented on #77
Happy to perform any additional tests you propose.
I agree this is likely a problem for Zemax to resolve

[2017-08-16 16:44] shbhuk commented on #62
The .zpl file is in the default Macro location.

[2017-10-31 13:48] crubster opened #78 "zGetDetectorViewer not reading ZRD files or filter strings"
zGetDetector Viewer returns `ValueError: could not convert string to float: W2` (where W2 is a filter string from the detector .CFG file.

Looking through readDetectorViewerTextFile in zfileutils (around line 678) it looks like the function doesn't account for the fact that the text file outputted by the detector is changed when a ray database and a filter string are included in the detector confi

[2017-11-06 15:13] indranilsinharoy commented on #78
Dear @crubster ,

I feel sorry to say that right now I'm not in a position to help as I don't have a Zemax key anymore. I'm trying to get one, but I don't know for sure when I will get. Without the ability to run test with Zemax, I'm really uncomfortable to change the code. I'm really sorry.

[2017-11-06 17:11] crubster commented on #78
Hi @indranilsinharoy ,

No worries, I made some quick and dirty changes myself that seems to have fixed it. Sorry to hear about the loss of your access to zemax- hope you get it back soon because pyZDDE is a great tool!

[2017-11-07 15:17] indranilsinharoy commented on #78
Hi @crubster,
Great to hear that you have fixed the issue you are facing, and thank you very much for your kind words. If possible, and if you desire, you could share your fix in these comments (or) send a pull request so that others facing similar issues could use your solution. (Please not that I'll not be able to actually honor the pull request till I'm able to test with Zemax). Thank you very

[2017-11-07 18:01] crubster commented on #78
Hi @indranilsinharoy

I went into zfileutils and modified readDetectorViewerTextFile. I'm pretty new to github so I'll submit a pull request after I'm a bit clearer about what's going on but for now I'll just paste the modified function here (docstring removed for readability):

`

def readDetectorViewerTextFile(pyz, textFileName, displayData=False):

    line_list = pyz._readLinesFromFile(pyz._op

[2017-11-15 18:21] indranilsinharoy commented on #78
@crubster Thanks a lot.

[2017-12-10 18:37] shbhuk commented on #71
Hi,
This error seems to be recurring.

When I run

        try:
            self.ln.zGetDetectorViewer(displayData=True,settingsFile=settingsFile,txtFile=txtfile,keepFile=True,timeout=600)
        except(Exception):
            if os.path.isfile(txtfile)==False:
                raise

    FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/shbhu//CCB_file_check/Spot_1_waveno_1.txt' `

[2017-12-10 18:38] shbhuk commented on #71
Or else, if you could just propose a method to download the .txt file from the detector which has the intensity values per pixel.

[2017-12-13 03:02] shbhuk opened #79 "Issues with saving NSC Detector text file"
Hi,
This is following issue #71
I get the following error on trying to use

[code]

I checked the source code, and this function which GetDetectorViewer() calls -       ```
  ret = self.zGetTextFile(textFileName, 'Dvr', cfgFile, getTextFlag,
                                timeout)
[code]

            cmd = 'GetTextFile,"{tF}",{aT},"{sF}",{fl:d}'.format(tF=textFileName,

[2017-12-13 03:12] shbhuk commented on #79
ln.zSaveDetector(1,det_zmxobj_no,fileName=txtfile[:-4]+'.ddr')  returns 0 but no .DDR file is created.

Seems to be related?

[2018-01-22 00:38] shbhuk commented on #79
Hi @indranilsinharoy , Did you get time to look at this?

[2018-01-23 18:41] indranilsinharoy commented on #79
Hi @shbhuk ,

Unfortunately, since I moved to a new job, I don't have a Zemax license right now. Therefore, I hope someone else with a Zemax key can resolve your issue. I'm very sorry.

Best Regards,
Indranil.

[2018-02-01 15:52] shbhuk commented on #79
Hi @indranilsinharoy ,
Best of luck with your new job.

Shubham

[2018-02-13 13:32] sguisard opened #80 "Which version of Python to use PyzDDE ?"
Hello,

I have recently installed windows 10 (instead of Windows 7) on my PC and had to re-installed Python / Anaconda, which installed the version 3.6 of Python.
Now, I have a problem with py scripts I wrote that used to work with my previous OS/Anaconda version (althouth I do not remember which Anaconda/Python version was installed on my previous setup).

Namely it is the call to
at.zArrayTrace(

[2018-02-28 12:47] robbarnsley opened #81 "truncation of pupil/field coordinates in getTrace() and other related functions"
Hi,

First off, thanks for the work you put into this.

I have an issue with:

https://github.com/indranilsinharoy/PyZDDE/blob/45dff7042b074574ef0ba5b6e8ee4155689f02bf/pyzdde/zdde.py#L3396

I am unsure why the float is truncated to 4 dp - it seems you're unnecessarily throwing away 32bit float precision. I have a ZPL macro utilitising a raytrace that is particularly sensitive to the pupil/field co

[2018-03-01 11:10] MaximilianHoffmann opened #82 "in Opticstudio 17.5"
https://github.com/indranilsinharoy/PyZDDE/blob/45dff7042b074574ef0ba5b6e8ee4155689f02bf/pyzdde/zdde.py#L5091-L5096

Those lines seem to be broken or they do not match the Zemax Response

[2018-03-09 07:18] gachupos commented on #63
Hi guys,
I have the same problem in windows 10, everything else works very well, except zGetTraceArray, it just do nothing, it has Ben never working for me. Do yo know anything about it?

Best Regards
Joel

[2018-03-12 15:33] shbhuk commented on #63
zGetTraceArray, is this for Non Seq?

[2018-04-10 10:42] gechas opened #83 "WindowsError: [Error 126]"
Hello!

First of all thank you very much for PyZDDE. :-) I'm new to the tool but I already have a lot of ideas how I can use it.

Some functionality I will definitely need is contained in the arraytrace module. However, when importing it I always get the WindowsError: [Error 126].

I saw that the ArrayTrace.dll has been modified to avoid that error 3 years ago. Nevertheless, I get the error.

Have

[2018-06-04 18:43] seanmbills opened #84 "Problem getting RMS Field Map Data out as a Text File"
Indranil,

First of all, thank you very much for this amazing Python package, as it seems to work incredibly well so far. I have, however, been experiencing an issue that doesn't really make any sense to me. I'm currently using Zemax version 18.4 and am experiencing issues when I attempt to use the zGetTextFile method to create a .txt output file of all of the data associated with the RMS Field Ma

[2018-08-09 09:47] pytesnim opened #85 "which versions of zemax are compatible"
Hello,
I have zemax 2009, is it compatible with it?. Thanks very much!

[2018-08-09 09:56] #85 closed

[2018-08-09 09:58] pytesnim opened #86 "Error message : UTF-16 stream does not start with BOM"
Hello,
I am getting the error ' _UTF-16 stream does not start with BOM_' when I am doing the fiber coupling exercise. Thanks!

[2018-08-10 07:42] pytesnim commented on #86
Can this problem be related to the version of Zemax that I am using?  I am using Zemax 2009.  It seems Zemax 2009  does not use unicode as text encoding and this creates a problem.

[2018-09-12 08:54] tnakaicode opened #87 "Error of zGetSurfaceData"
I tried to run following code and got error.

[code]

I want to know how to avoid this error.
I use Python 3.6 and Zemax 150624.

[code]

[2018-10-22 14:09] RichardHuenermann opened #89 "Which Zemax version is required?"
Hi, sorry to bother you, but I always get timeout errors when trying to run the Hello World mini-example:
[code]
produces the error:
[code]
I suspect this is because I am using a OpticStudio Standard license instead of a professional license, could that be? I have been looking for a while now and didn't find anything concerning those requirements in the PyZDDE manuals or any change logs of Zemax v

[2018-11-16 16:40] jburgalat opened #90 "Closing ZRD file before raising Exception in pyzdde.zfileutils.readZRDFile"
Hi,

First of all thanks for the great amount of work done here !

I'd just want to report an easy fixable issue:

readZRDFile() from zfileutils.py does not close the file handle before raising the NotImplementedError in case the ZRD file is not uncompressed.

I think it should be done before raising the exception as the file remains locked. If one tries to update the ZRD (for instance calculating

[2019-03-14 17:05] lakodarmstadt opened #93 "PyZDDE giving different results than Zemax"
Hi,
I know the title might sound a bit weird but I have trouble with a python script using pyZDDE giving (only sometimes!) different results for PhysicalOpticsPropagation than Zemax itself. I am not even sure if this is a pyZDDE problem, but maybe someone has encountered something similar already and can help.
So the situation is the following: I have two similar optical setups (Two different zmx-

[2019-03-27 08:47] indranilsinharoy commented on #87
The function `zSetSurfaceData` expects integers as input but you have provided a float `ln.zSetSurfaceData (0, 1, "0.0")`

[2019-03-27 08:47] #87 closed

[2019-05-22 11:29] LucVV commented on #93
Hi @lakodarmstadt,

First of all, apologies for the delayed response.

Could you please give somewhat more insight in the issue. For instance, are you using settingfiles, and with what settings? Also, what is the difference between the optical setups?

Kind regards,

Luc

[2019-07-03 00:31] aj-nielsen commented on #84
I realize this thread is a year old, but I'm having similar issues with the Geometric Image Analysis button code ("Ima"). Every single time I run the ln.zGetTextFile function, OpticStudio stops responding, and (probably as a result) no text file is exported. (Oddly, the other buttoncodes mentioned in the second post work fine for me - was there a fix applied that somehow was not applied to the Geo

[2019-08-09 07:49] Allvvaro opened #95 "zSetField not working"
Hi there!. I am having problems with zSetField function. Either when using n=0 or n!=0, it returns that number of arguments are not what were expected. I am not sure what I am doing wrong.

For example, using "zSetField(0, 0, 9, 1)" I get TypeError: Expected 5 arguments, got 2.

Similar, if I try "zSetField(3, 0.001, 0.003, 1, 0, 0, 0, 0, 0)" I get "TypeError: Expected 8 arguments, got 2"

What am

[2019-11-01 10:08] echatziz opened #96 "Is the NOBJ(surface) command supported?"
Hi,

I want to use NOBJ(sur) since I need the number of defined objects in the non-sequential mode. Cannot find the right pyZDDE command. Is it supported?
I only found NSUR, the zGetNumSurf(), but doesn't do what I need.

By the way, is there documentation somewhere? Going through the source code, trying to find a command is kind of frustrating. And by documentation, I mean a list with all the pyt

[2019-11-05 10:43] echatziz commented on #96
Found the way to get the number of objects.
zGetNSCData(1, 0)

[2019-11-05 14:44] #96 closed, assigned to nobody

[2019-11-08 13:10] echatziz opened #97 "zSetNSCProperty(1, 1, 0, 86, "1,2,1") to set the wavelength shift string doesn't work"
I have set up a rectangular volume as a bulk scatterer. All the properties, parameters, position work fine. I just can't pass the wavelength shift string.

Is this working for other people? Could you check if it works? I don't get any error messages, the command is just ignored

[2019-11-12 12:26] echatziz commented on #97
Is there anybody supporting this library or opening issues is a waste of time?

[2019-11-12 16:40] ulip commented on #97
The PyZDDE library was mainly created by @indranilsinharoy.

Maybe you try to contact him? I don't know if he still wants to maintain
this library since Zemax/OpticStudio deprecated DDE and switched to a
COM API.

[2019-11-13 17:41] indranilsinharoy commented on #97
Hi @ulip Thanks for providing the comments. This is not the first time you have done this 👍
Hi @echatziz I would very much love to actively maintain this library. Unfortunately, after leaving school, I do not have access to a Zemax license. Therefore, I really have no way way of fixing bugs and verifying. That's one of the reason, based on @LucVV 's suggestion, I moved PyZDDE into the organization

[2019-11-14 08:55] LucVV commented on #95
Hi @Allvvaro,

First of all, sorry for the delayed reply. There was a probleem with the zSetField function for newer Zemax versions, as the return was corrupted. I made [a fix](https://github.com/xzos/PyZDDE/pull/91/commits/508ad69eed4f9691fbd85420bb5957b5a66128f8), but this is not yet in the package that you install through pip. To use this fix, you could either clone the code from GitHub, or adj

[2019-11-14 10:24] LucVV commented on #97
Hi @echatziz, @ulip and @indranilsinharoy, sorry for the late reply. I have little experience with the `zSetNSCProperty()` function, but I tried is just now and I got it to work by changing `"1,2,1"` to `'"1,2,1"'`. It looks as if the command that is parsed needs the brackets within the string.

These are the steps that I used:
1. Open a new file in the NSC editor.
2. Define the first object as re

[2019-11-14 10:53] echatziz commented on #97
Yes, adding single quotes around double quotes worked.

Thank you. I don't have some other issue for now.

By the way, is there a way to access the "Phosphors and Fluorescence" tab of the newer versions of Zemax, with PyZDDE? Not even Zemax ZPL supports that, the Zemax people told me to use the ZOS-API if I want to access that tab programmatically.

[2019-11-14 11:16] LucVV commented on #97
Glad to hear that it worked! For your other question, I do not have the premium edition, so I cannot access it at all.. I give you little chance if the ZPL does not support it, but you could check the logical next increment. Else, you could check [PyZOS](https://github.com/xzos/pyzos) to use the API if you really need it.

[2019-11-14 11:16] #97 closed, assigned to LucVV

[2019-11-14 20:37] indranilsinharoy commented on #97
@LucVV Thanks very much for your help :-)

@echatziz , @LucVV  I'm not sure why we need to use the single quotes around the double quotes ``'"1,2,1"'``. It could be a Zemax thing! Would you input the wavelength shift as ``"1,2,1"`` in Zemax if you used Zemax directly? Something to check!

Regarding the other question. If "Phosphors and Fluorescence" is a recent feature, most likely PyZDDE cannot b

[2019-11-14 21:05] LucVV commented on #97
My best guess is that it goes wrong in the interpretation of the string that Zemax recieves. Without the quotation marks, this string is `'SETNSCPROPERTY, 1, 1, 0, 86, 1,2,1'`, in which it might assume that the 1,2,1 are three separate passed arguments.
In the ZPL, you would use `SETNSCPROPERTY, 1, 1, 0, 86, "1,2,1"`, so by adding an additional set of quotation marks, we match the ZPL.

As for the

[2019-11-17 02:14] indranilsinharoy commented on #97
@LucVV Thanks for the explanation. It makes sense. Does that mean we need to account for this (i.e., when the data is expected to be string) in the ``zSetNSCProperty()`` function?

[2019-11-18 14:04] echatziz commented on #97
No, just incrementing the zSetNSCProperty(1, 1, 0, 81, 2) by one didn't work for accessing the Phosphors and Fluorescence tab, but thank you for the suggestion.

The feature by the way is not that new, it's been there for some years

[2019-11-20 08:53] LucVV commented on #97
@indranilsinharoy I think it is just this specific case, were there is a string with commas in it that might be evaluated as additional arguments. When I was checking this function, I also used it to set the comment on a filed and that worked fine. (In hindsight, it might be good to check what happens if I want a comma within that comment). I will try to check how it works with the comment somewhe

[2019-11-28 14:17] echatziz opened #98 "Is there a set glass data functionality?"
I want to be able to alter the glass data parameters, eg. the transmission data. In ZPL there is a function GETGLASSDATA. Have you implemented sth that behaves like that? But in my case I need sth like setglassdata.

I've searched the source code, but didn't see anything. Perhaps, I've missed it though.

Thank you.

[2019-11-28 15:39] echatziz commented on #98
Since I am quite desperate for this, I am willing to implement it myself, if it can be done, given some direction. Otherwise, I'll have to throw out all my code and redo it in zos api

[2019-11-29 07:31] LucVV commented on #98
Hi @echatziz,

I also cannot find an implementation of that funcition, maybe @indranilsinharoy has an idea but I guess you will have to do the implementation yourself. I estimate that it it possible. I guess that you can make a copy of any function that gets data through the DDE client, and change the string command to get this data out. You can also pass parameters through thus string command, yo

[2019-11-29 13:39] echatziz commented on #98
From what I've seen in the Zemax manual, although there is a ZPL command GETGLASSDATA, there isn't an ITEM with this functionality. Where ITEM is the function passed to the ZEMAX server. So, I guess it cannot be implemented, unless you can define your own item somehow.

Or did you mean to get the text file of the glass report with zGetTextFile() and edit it so I can change the glass parameters?

[2019-11-29 17:44] LucVV commented on #98
Unfortunately, then I guess it is not possible this way. How many times do you need to change the glass data? Otherwise you might be able to make a catalogue by hand (or by using the zos-api) and then selecting it by `zGetGlass()` and `zSetGlass()`

[2020-01-03 14:54] JohnDGriffith opened #99 "Zemax subscription model breaks DDE - fixed promised by Zemax"
The current release of the new Zemax Subscription License breaks DDE.  Zemax tech support has acknowledged this and promises a fix by the end of January 2020.  FYI

[2020-01-03 16:02] LucVV commented on #99
Hi @JohnDGriffith, thank you for this info. Unfortunately, I do not think we can do something from our end. I just checked, and I am still able to use the DDE link. Could you please elaborate what you did and use?

I myself use Zemax 18.9 and did not update my Licence File Status (pressed 'no' in the popup) on the status.

[2020-01-04 01:23] JohnDGriffith commented on #99
Hi Lucy

It has to be fixed by Zemax.  They have acknowledged a DDE problem and have sent me a beta version to test.  It only affects their new subscription model that does not use a USB dongle.

I will check their beta version on Monday.

I don't believe any action is required on the Pyzdde side.  I put the issue in only as an FYI for other people whose code quit working.

Get Outlook for Android

[2020-01-04 01:34] LucVV commented on #99
Thank you for the clarification, lets hope the beta version works!

[2020-01-07 20:53] JohnDGriffith commented on #99
Hi Lucy

Zemax 19.8 SP1 beta (subscription version, no dongle, premium) now opens a link without error.

Import pyzdde.zdde as pyz
Ll

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Luc van Vught <notifications@github.com>
Sent: Friday, January 3, 2020 8:34:39 PM
To: xzos/PyZDDE <PyZDDE@noreply.github.com>
Cc: JohnDGriffith <john.d.griffith@outlook.com>; Men

[2020-01-07 20:55] JohnDGriffith commented on #99
Hi Luc,

Sorry, writing on my phone.  Anyway the beta sent by Zemax fixes their DDE problem.  General release as 19.8 SP1 in about a month.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: John Griffith <john.d.griffith@outlook.com>
Sent: Tuesday, January 7, 2020 3:53:03 PM
To: xzos/PyZDDE <reply@reply.github.com>; xzos/PyZDDE <PyZDDE@noreply.github.com>
Cc:

[2020-01-08 12:41] andibarg commented on #84
I have the same issue now with the buttoncode 'Sim' for image simulation. However, all the ones mentioned above work for me now, including 'Ima' mentioned in the last post.

[2020-01-09 14:44] andibarg opened #100 "zGetImageSimulation not working"
'zGetImageSimulation' calls the method 'zGetTextFile' which always returns -1 and thus fails. This is not because of a timeout but simply because image simulation (at least in the latest versions of OpticStudio) does not support text output. How could this be fixed?

An ugly workaround is to specify an output file in image simulation and use 'ln.zPushLens(1)' to update it. Once this is done, one c

[2020-01-18 19:02] indranilsinharoy commented on #100
Hi @andibarg ,
Can you please take a look at the "NOTE" section of the example notebook [Acquisition and analysis of Image Simulation data from Zemax](https://github.com/xzos/PyZDDE/blob/master/Examples/IPNotebooks/04%20Acquisition%20and%20analysis%20Image%20Simulation%20data%20from%20Zemax.ipynb) and see if the suggestions there help?

[2020-01-18 19:08] indranilsinharoy commented on #98
Hi @echatziz , @LucVV ,
Can you use the function `zExecuteZPLMacro()` ?

[2020-01-22 15:18] andibarg commented on #100
Hi @indranilsinharoy,

Thanks for your reply.
Unfortunately, the suggestions in the "NOTE" section do not help. I tried with short file names and without commas. Finally, I went through example 1 and got the error again at line 12, as expected:
`img_info, img_data = ln.zGetImageSimulation(settingsFile=cfgfile)`
Btw, I am using OpticStudio 19.8.

[2020-03-28 01:17] GonzaloVelarde opened #101 "Problem getting zGetZernike about list indices"
First of all thank you for this amazing code! :)
I am getting this error code:
9775, in zGetZernike
    meta_line = line_list[_getFirstLineOfInterest(line_list, pat)]

TypeError: list indices must be integers or slices, not NoneType

When I write:
zInfo, zCoeff = ln.zGetZernike(which='fringe')

Thank you in advance!

[2020-04-07 08:52] Luochenghuang opened #102 "ERROR: Unable to establish a conversation with server (err=0x400a)."
Hi devs,

This package looks perfect for my project. However I'm unable to get it to work.
When I run
[code]
 I get an error.
[code]

I do have a Zemax instance open running on 19.8 professional version.
Here's `pip freeze` result:
pywin32==227
PyZDDE==2.0.3

I'm running on Python 3.7.4

Also, I'm able to run the Zemax Python API.

Any help is appreciated!

[2020-04-29 10:36] LucVV commented on #102
Hi @Luochenghuang,

Sorry for the delayed reply, I hoped you managed to fix your problem. I cannot replicate this issue. Did you see [this](https://github.com/xzos/PyZDDE/issues/99) issue, it might be a subscription issue. YOu could also try to use the ZOS-API for your project, there is a package [here](https://github.com/xzos/pyzos) that handles the basics, but is not fully developped. I have wor

[2020-04-29 10:38] LucVV commented on #102
Do you have 19.8 or 19.8 SP1? @JohnDGriffith, is this the error you got as well?

[2020-04-29 10:44] LucVV commented on #101
Hi @g-velarde, sorry for the delayed reply.

It looks like the pattern does not match any part of the file. Could you check that Zemax actually has a result for your analysis? When to many rays are vignetted, it could be that the analysis was not performed, in which case the output might not be handled correctly. I fixed this issue in [this](https://github.com/xzos/PyZDDE/pull/92) pull request, wh

[2020-04-29 11:06] Luochenghuang commented on #102
Hi @LucVV,

Thank you for the help! I just updated Zemax to 20.1.3 and PyZDDE magically started working! Thank you for the advice!

Best,
Huang

[2020-04-29 13:39] LucVV commented on #102
Glad to hear! Just as a note, the newer features of Zemax might not be available through PyZDDE, as they dropped their support for the DDE. With that, also new bugs are not fixed. One known bug is not with zSetField, as I indicated [here](https://github.com/xzos/PyZDDE/pull/91). It is fixed in the online version of PyZDDE, but not yet in the latest release. If you find any other bugs, please let m

[2020-04-29 13:56] Luochenghuang commented on #102
That's great to know, thank you for the help @LucVV !

[2020-04-29 13:57] #102 closed, assigned to nobody

[2020-06-21 07:28] Luochenghuang commented on #93
I've encountered similar problems.
I first used zSetPOPSettings to get the same setting as I would on Zemax GUI. Then I used zGetPOP() to get the propagation result. However I couldn't replicate the POP results on the Zemax GUI.

[2020-06-24 22:23] LucVV commented on #93
Hi @Luochenghuang, which version of zemax are you using? I have little experience with this function, but I can think of several problems. One of the problems is that Zemax is dropping the ZDDE support, so this might be broken. As investigation, we could try the following:

1. Could you try to save the settings you use in the Zemax GUI and use this file as `settingsFile` for the PyZDDE `zGetPOP()`

[2020-11-03 10:14] jrphysics commented on #79
@shbhuk This is caused by the number of digits in the exponential for intensity / power values. The code is looking for 3 to 8, while some people have just 2.

@indranilsinharoy The ethernal license problem! I've sent a PR #103.

[2020-11-05 16:55] shbhuk commented on #79
Great, thanks!

[2020-12-30 11:51] GonzaloVelarde commented on #101
still some issues with this topic but I get them just dumping the file zernike 'txt' file and searching lines for the zernike coeffs.
Thanks anyway!

[2021-01-26 22:43] mtalapinto opened #105 "GetPSF with OpticStudio 20.3.1"
Hi,

I've been trying to use ln.zGetPSF() and it throws me the following error - from the experience of another issue I read about this I included a line to set the text encoding.

TXT encoding is ASCII; no change required
Traceback (most recent call last):
  File "C:/Users/marce/Documents/Ckepi/pyzmx/main.py", line 30, in <module>
    getPSF()
  File "C:/Users/marce/Documents/Ckepi/pyzmx/main.py"

[2021-10-20 01:48] turygj commented on #101
I have the same problem. Have you solved this problem? If so, could you please provide the solution?

[2021-10-22 09:07] LucVV commented on #101
I'm not sure what is causing your errors if it's not an empty text file. Which OpticStudio version are you on?

@turygj, if you are looking for a function that finds the Zernike coefficients for you, I have implemented one for the Standard Zernike Coefficients [here](https://github.com/MREYE-LUMC/ZOSPy/blob/main/zospy/analyses/wavefront.py#L12). I assume you should be able to apply this function w

[2021-10-25 08:08] turygj commented on #101
The OpticStudio version is 181119.
I have got the zernike 'txt' by zGetTextFile.
Thank you for taking the time to respond to my questions!

[2021-10-25 08:25] turygj commented on #95
The Zemax version I used is 181119, and I have the same problems.
I have tried the fix, but I still haven't solved the problem.
The problem is "fieldData = fd._make([float(elem) for elem in rs])". When I use "print(len(rs))", the result is "2". So I think that the problem maybe the length of "rs".
How can I solve this problem? Thank you!

[2021-10-25 11:24] LucVV commented on #101
Just to be sure, if you open the textfile yourself, does it contain the analysis result that you would also see in OpticStudio?

[2021-10-25 11:28] turygj commented on #101
Yes. But If you have any more code after that, python will output an error and cannot run.

[2021-10-25 11:38] LucVV commented on #95
Sorry to hear that the fix is not working properly for you. I made that fix because I had a bug on my version, but it seems as if the bug changed for you. I do not have your version, so I cannot really reproduce your issue. However, in the fix linked above, the code that should be executed in your case (as `len(rs)==2`) is:

[code]

Can you debug to see why this is not the case? If you are not usi

[2021-10-25 11:50] LucVV commented on #101
I see, I guess that one of the following meta patterns is not found:

[code]

As a results, it tries to index with a None, which is not possible. I have adressed that in [this pull request](https://github.com/xzos/PyZDDE/commit/379db53489ede96c4f1639da401908a1b30bad4a#diff-cb9d6121bbfeae8103818359231474a5991d48241d8c73140cfeca0e15661706R9803), but the version on PyPi does not have that. You could

[2021-10-25 12:36] turygj commented on #101
Your guess is right. Now I can output the "zCoeff", but the "zInfo" becomes "nan" for everyone.

[2021-10-25 15:27] LucVV commented on #101
Oke, I guess the regex patterns are failing for some reason. Could you upload/post an example of the output?

[2021-10-26 01:05] turygj commented on #101
When I imput "zInfo, zCoeff = ln.zGetZernike(which='fringe')" and "print(zInfo, zCoeff)", the output is that "zInfo(pToVChief=nan, pToVCentroid=nan, rmsTochief=nan,……) andzCoeff(Z1=0.0012021, Z2=0, Z3=-0.77952288,……）"
Thank you for taking the time to respond to my questions!

[2021-10-26 15:20] LucVV commented on #101
I understand, but could you paste the content of the actual .txt file? I assume something goes wrong in reading it in.

[2022-04-06 13:30] Jontza opened #106 "ZBF file created with PyZDDE"
I've created a ZBF file with PyZDDE's writeBeamFile function from far-field data of MEEP FDTD simulation. For some unknows reason the beam looks like it has 5 images of the far-field in row, instead of one image of the far-field.
The resulting beam file looks like this in Zemax File Viewer:

![image](https://user-images.githubusercontent.com/62993165/161980814-9deeaf47-68ef-4d63-8de2-3083c1c83bf3.

[2022-08-23 16:35] blueshuttle commented on #82
You can still use zSetSystemProperty(self, code, value1, value2=0) instead, where code = 102, 103 for field x and y